@charset "UTF-8";
/*
    1400PX / 16PX => 87.5
    1200PX / 16PX => 75
    992PX / 16PX => 62
    768PX / 16PX => 48
    576PX / 16PX => 36
    480PX / 16PX => 30

    1400PX / 16PX => 87.5
    1200PX / 16PX => 75
    992PX / 16PX => 62
    768PX / 16PX => 48
    576PX / 16PX => 36
    480PX / 16PX => 30

*/
* {
  margin: 0;
  padding: 0;
}

html {
  /*
      1rem = 16px
      width: 91px -> 5.6875rem
      // ⚡⚡ transformarlo a 10px la fuente base 
      del root

      1rem = 10px
      width: 91px -> 9.1rem

      16px ===== 100%
      10px ----> 62.5%
  */
  font-size: 62.5%;
}
@media only screen and (max-width: 36em) {
  html {
    font-size: 50%;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

.container {
  max-width: 140rem;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 62em) {
  .container {
    max-width: 72rem;
  }
}
@media only screen and (max-width: 48em) {
  .container {
    max-width: 54rem;
  }
}
@media only screen and (max-width: 36em) {
  .container {
    padding: 0 2rem;
  }
}

.btn {
  font-size: 1.8rem;
  font-family: "Jolly Lodger", monospace;
  font-weight: 700;
  text-transform: uppercase;
  padding: 2rem 4rem;
  border-radius: 0.5rem;
}

.titulo-n2 {
  font-family: "Jolly Lodger", monospace;
  font-size: 4rem;
}

.resumen-n2 {
  font-family: "Jolly Lodger", monospace;
  font-size: 1.6rem;
  color: #6c757d;
}

.titulo-n3 {
  font-family: "Jolly Lodger", monospace;
  font-size: 2.4rem;
}

.resumen-n3 {
  font-family: "Jolly Lodger", monospace;
  font-size: 1.6rem;
  color: #6c757d;
  line-height: 2.8rem;
}

.h-100 {
  height: 100%;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mt-6 {
  margin-top: 6rem;
}

.mt-7 {
  margin-top: 7rem;
}

.mt-8 {
  margin-top: 8rem;
}

.mt-9 {
  margin-top: 9rem;
}

.mt-10 {
  margin-top: 10rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.mb-6 {
  margin-bottom: 6rem;
}

.mb-7 {
  margin-bottom: 7rem;
}

.mb-8 {
  margin-bottom: 8rem;
}

.mb-9 {
  margin-bottom: 9rem;
}

.mb-10 {
  margin-bottom: 10rem;
}

.pt-1 {
  padding-top: 1rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pt-4 {
  padding-top: 4rem;
}

.pt-5 {
  padding-top: 5rem;
}

.pt-6 {
  padding-top: 6rem;
}

.pt-7 {
  padding-top: 7rem;
}

.pt-8 {
  padding-top: 8rem;
}

.pt-9 {
  padding-top: 9rem;
}

.pt-10 {
  padding-top: 10rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pb-4 {
  padding-bottom: 4rem;
}

.pb-5 {
  padding-bottom: 5rem;
}

.pb-6 {
  padding-bottom: 6rem;
}

.pb-7 {
  padding-bottom: 7rem;
}

.pb-8 {
  padding-bottom: 8rem;
}

.pb-9 {
  padding-bottom: 9rem;
}

.pb-10 {
  padding-bottom: 10rem;
}

.navbar {
  position: sticky;
  z-index: 9999;
  background-color: #000015;
  font-family: "Rubik", sans-serif;
}
.navbar .container {
  display: flex;
  justify-content: space-between;
}
.navbar .container .logo {
  padding-top: 1rem;
}
.navbar .container .logo a {
  font-family: "Jolly Lodger", monospace;
  font-size: 4rem;
  color: #fff;
}
.navbar .container .menu {
  padding-top: 1rem;
}
.navbar .container .menu ul {
  display: flex;
}
.navbar .container .menu ul li {
  padding: 1rem;
}
.navbar .container .menu ul li a {
  font-size: 1.5rem;
  list-style: none;
  text-decoration: none;
  color: #fff;
}
.navbar .container .buttonHeader {
  padding: 1rem;
}
.navbar .container .buttonHeader a {
  list-style: none;
  text-decoration: none;
  color: #333333;
  padding: 1.5rem;
  background-color: #FE772D;
  border-radius: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.principal {
  z-index: 0;
  top: 0;
  position: absolute;
  background-image: url("../img/Untitled-Artwork 1.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.principal .container .info {
  padding-top: 12rem;
}
.principal .container .info h2 {
  color: #fff;
  font-family: "Rubik", sans-serif;
  font-size: 2rem;
  text-align: center;
  font-weight: 100;
}
.principal .container .info h2 i {
  padding-right: 2rem;
}
.principal .container .info .title {
  color: #FE772D;
  text-align: center;
  font-family: "Jolly Lodger", monospace;
  font-size: 6rem;
  text-transform: uppercase;
  padding-top: 2rem;
  font-weight: 300;
}
.principal .container .info .icon {
  text-align: center;
}
.principal .container .info .icon i {
  color: #FE772D;
  font-size: 3rem;
}

.memories {
  margin-top: 85rem;
  background-color: #000015;
}
.memories .container {
  padding-top: 15rem;
}
.memories .container .title {
  padding-bottom: 4rem;
}
.memories .container .title h2 {
  text-align: center;
}
.memories .container .title h2 a {
  text-transform: uppercase;
  font-family: "Jolly Lodger", monospace;
  color: #FE772D;
  font-size: 5.8rem;
  text-align: center;
}
.memories .container .pictures {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  flex-wrap: wrap;
  padding-bottom: 5rem;
  /* Estilo para cerrar el modal */
}
.memories .container .pictures .imagesHallo {
  width: 24.3rem;
  height: 24.4rem;
  border-radius: 4rem;
  overflow: hidden;
}
.memories .container .pictures .imagesHallo img {
  width: 100%;
  cursor: pointer;
  filter: blur(0.5rem);
}
.memories .container .pictures .imagesHallo img:hover {
  filter: blur(0);
  transition: all 0.8s;
}
.memories .container .pictures .imagesHallo .info-message {
  display: none;
  position: absolute;
  background-color: #000015;
  color: #FE772D;
  font-family: "Rubik", sans-serif;
  padding: 5px;
  border-radius: 5px;
}
.memories .container .pictures .modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
}
.memories .container .pictures .modal-content {
  background-color: #000015;
  margin: 10% auto;
  padding: 20px;
  border: 0.2px solid rgba(255, 255, 255, 0.1764705882);
  border-radius: 2rem;
  max-width: 600px;
}
.memories .container .pictures .modal-content h2 {
  color: #FE772D;
  font-family: "Jolly Lodger", monospace;
  font-size: 5rem;
  padding: 1rem 0;
}
.memories .container .pictures .modal-content .imgModal img {
  width: 50%;
}
.memories .container .pictures .modal-content p {
  padding: 4rem;
  color: #fff;
  font-family: "Rubik", sans-serif;
  font-size: 2rem;
}
.memories .container .pictures .close {
  position: absolute;
  right: 20px;
  top: 10px;
  cursor: pointer;
}
.memories .container .joinus {
  padding-bottom: 4rem;
}
.memories .container .joinus .titleJoin {
  text-align: center;
}
.memories .container .joinus .titleJoin h2, .memories .container .joinus .titleJoin p {
  text-transform: uppercase;
  color: #fff;
  padding: 3rem 0;
  font-family: "Rubik", sans-serif;
}
.memories .container .joinus .titleJoin h2 {
  font-size: 4rem;
}
.memories .container .joinus .titleJoin h2 a {
  color: #fff;
}
.memories .container .joinus .titleJoin p {
  font-size: 5rem;
  font-family: "Jolly Lodger", monospace;
  color: #FE772D;
}
.memories .container .joinus .titleJoin p i {
  color: #fff;
}

.prices {
  background-color: #000015;
}
.prices .container .title {
  text-align: center;
}
.prices .container .title h2 a {
  color: #FE772D;
  font-size: 5rem;
  text-transform: uppercase;
  font-family: "Jolly Lodger", monospace;
}

/*# sourceMappingURL=main.css.map */
