.prices{
    background-color: $color-bgcolor;
    padding-bottom: 4rem;
    .container{
        .title{
            text-align: center;
            h2{
                a{
                    color: $color-mainColor;
                    font-size: 5rem;
                    text-transform: uppercase;
                    font-family: $font-principal;
                }
            }
        }
        .cards{
            padding: 3rem;
            display: flex;
            flex-direction: row;
            justify-content:space-evenly;
            .card{
                border-radius: 2rem;
                text-align: center;
                font-size: 2.5rem;
                font-family: $font-secundary;
                .title{
                    h3{
                        text-transform: uppercase;
                        padding: 3rem;
                        font-family: $font-principal;
                        font-size:4.5rem;
                    }
                }
                .price{
                    p{
                        font-weight: 700;
                        font-size: 3.5rem;
                    }
                }
                p{
                    text-transform: capitalize;
                    padding: 1rem;
                    &:last-child{
                        padding-bottom: 2.5rem;
                    }
                }
                
                &:nth-child(odd){
                    background-color: $color-grayColor;
                    color: #FFF;
                    .button{
                        // background-color: $color-mainColor;
                        a{
                            border-radius: 1.5rem;
                            font-size: 1.4rem;
                            letter-spacing: .1rem;
                            font-weight: 700;
                            background-color: $color-mainColor;
                            padding: 1.5rem;
                            text-transform: capitalize;
                            color: $color-grayColor;
                            transition: all .2s;
                            &:hover{
                                color: #fff;
                            }
                        }
                    }
                }
                &:nth-child(even){
                    color: $color-grayColor;
                    background-color: $color-mainColor;
                    .button{
                        padding-bottom: 2rem;
                        a{
                            border-radius: 1.5rem;
                            background-color: $color-grayColor;
                            padding: 1.5rem;
                            font-weight: 700;
                            color: #FFF;
                            text-transform: capitalize;
                            font-size: 1.4rem;
                            letter-spacing: .1rem;
                            transition: all .2s;
                            &:hover{
                                color: $color-mainColor;
                            }
                        }
                    }
                } 
            }
        }
    }
}